@import '../variables/mixin';
@import '../variables/variable';

#fruit_basket_area{
    .img_basket{
        img{
            width: 100%
        }
    }

    .text_basket{
        h5{
            @include font($ff_one , 500 , 20px);
            color: $portal;
            line-height: 30px;
        }
        h2{
            @include font($ff_one , 700 , 35px);
            color: $secondary;
            line-height: 42.36px;
            padding-top: 10px;
        }
        > p{
            @include font($ff_one , 400 , 16px);
            color: $portal;
            line-height: 30px;
            padding: 30px 0;
        }
        .profile_part{
            display: flex;
            column-gap: 20px;
            .txt_porfile{
                h6{
                    @include font($ff_one , 500 , 20px);
                    color: $secondary;
                    line-height: 30px;
                }
                p{
                    @include font($ff_one , 400 , 16px);
                    color: $portal;
                    line-height: 30px;
                }
            }
        }
    }
}