@import '../variables/mixin';
@import '../variables/variable';

#product{
    .link{
        .nav{
            .nav-item{
                .nav-link{
                    color: $portal;
                    background: transparent;
                }
                .nav-link.active{
                    color: $nature;
                }
            }
        }
    }
    .feature_product_item{
        .img_feature_item{
            .reaction{
                a{
                    width: 41px;
                    height: 41px;
                    line-height: 36px;
                    margin: 0px 5px;
                }
            }
        }
        .txt_feature_item{
            padding-top: 30px;
            p{
                @include font($ff_one , 500 , 16px);
                padding: 10px 0px 10px 0px;
            }
        }
    }
}