// font-family------:
$ff_one:  'Inter', sans-serif;
$ff_two:  'Rye', cursive;


// colors------:
$primary: #477018;
$secondary: #282828;
$pure: #fff;
$nature: #F47606;
$portal: #676767;
$light: #C9C9C9;
$drift: #fafafa;
$flat: #000;
$tight: #FFAE00;
$subpure: #F9F9F9;
$deafoot: #373B33;
$rating: #FFC24B;
$patel: #e5e5e5;
$hash: #A2A2A2;
$torrent: #FBFBFB;
$rumer: #B0B0B0;
$rabel: #E1E1E1;
$btn_clr: #e9e9e9;
